/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: vertical; /* Permite redimensionar verticalmente o campo de texto */
  }
  
  h2 {
    text-align: center;
  }
  
  .boxCadastroUsuario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .boxCadastroUsuario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .boxCadastroUsuario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btnSalvar,
  .btnCancelar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .btnSalvar {
    background-color: #007BFF;
  }
  
  .btnCancelar {
    background-color: #DC3545;
  }
  
  @media screen and (max-width: 600px) {
    .boxCadastroUsuario {
      max-width: 100%;
      padding: 10px;
    }
  
    .boxCadastroUsuario input {
      padding: 5px;
    }
  }